/* 메인 ad 부분 부터 시작 */
.main {
  background-color: pink;

  width: 100%;
  height: 100%;
  padding: 20px;
}
.main-ad {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1400px;
  max-height: 60px;
}
.main-ad a {
  gap: 5px;
}
.main-ad-area {
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 테두리 설정 */
  border-radius: 10px; /* 둥근 테두리 설정 */
  background-color: rgba(111, 114, 123, 0.04);

  margin: auto;
  display: flex;
  justify-content: center;
  /* 가로 중앙 정렬 시킨 것 */
  align-items: center;
  /* 세로 중앙 정렬 시킨 것 */
  gap: 30px;
}
/* 연봉 정보, 이력서 샘플은 파란색(0066ff) 양옆 pic */
.main-ad-pic {
  display: flex;
  justify-content: center;
  /* 가로 중앙 정렬 시킨 것 */
  align-items: center;
  /* 세로 중앙 정렬 시킨 것 */
  text-decoration: none;
  gap: 10px;
  color: #000;
  margin: 10px;
}
.ad-font {
  color: #0066ff;
}
.main-ad-icon {
  width: 34px;
  height: 34px;
  gap: 20px;
}
/* 글씨 214x44 button 314x44 */

/* cate 9개 임 */
.main-cate {
  display: flex;
  /* 가로로 정렬 시킨 것 */
  justify-content: center;
  /* 가로 중앙 정렬 시킨 것 */
  align-items: center;
  /* 세로 중앙 정렬 시킨 것 */
  gap: 30px;
  padding: 36px;
}

.main-cate a {
  text-decoration: none;
  color: #37383c9c;
  background-color: #ffffff;
}
.main-cate a img {
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;

  background-color: #ffffff;
}
.main-cate a span {
  display: flex;
  text-align: center;
  align-items: center;

  background-color: #ffffff;
}

/* 카테고리 9개 끝.
다음에는 ul li 표 활용해보기 */

/* 굵은 글씨 시작부분 */
/* 짙은 글씨 다 감싸는 메인 bold의미 */
/* 모두가 주목하고 있어요 */

.main-text1 {
  background-color: aqua;
}
.main-text1-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

/* 11월 5일 오후 작업 종료 */
.text1-cate {
  /* background-color: yellow; */
}
.text1-cate .cate ul {
  display: flex;
}
.text1-cate .cate ul li a {
  text-decoration: none;
}
.text1-cate .cate ul li a .img-area {
  width: 250px;
  height: 168px;
  border-radius: 12px;
  overflow: hidden;
}

.text1-cate .cate ul li a:hover .img-area img {
  transform: scale(2);
  /* 마우스에 따라서 커지는 액션 */
}

.text1-cate .cate ul li a .img-area img {
  transition: all 0.5s;
}

.thumb-title {
  display: block;
}
.thumb-company {
  display: block;
}
.thumb-info {
  display: block;
}
/*
.main-text1 .bt {
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  background-color: #0066ff;
}

.text1-cate {
}
.text1-cate .cate {
} */

/* 지금 주목할 소식 */
.main-text2 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
}
/* 테마로 살펴보는 회사/포지션 */
.main-text3 {
  display: flex;
  margin: 0 auto;
  align-items: top;
  justify-content: space-between;
  background-color: beige;
}
/* 출퇴근 걱정없는 역세권 포지션 */
.main-text4 {
  display: flex;
  margin: 0 auto;
  align-items: top;
  justify-content: space-between;
  background-color: rgb(106, 194, 62);
}
/* 요즘 뜨는 포지션 */
.main-text5 {
  display: flex;
  margin: 0 auto;
  align-items: top;
  justify-content: space-between;
  background-color: rgb(240, 220, 245);
}

/* 굵은 글씨 main-text 끝  */
